<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junyi.com.junyi.one2many.dao.LectureDao" >

    <resultMap id="lectureResultMap" type="com.junyi.com.junyi.one2many.entity.Lecture">
        <id  property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="studentLectureRefList" column="id"
                    select="com.junyi.com.junyi.one2many.dao.StudentLectureRefDao.findStudentLectureByLecId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name
    </sql>


    <select id="findAll" resultMap="lectureResultMap">
        select
        <include refid="Base_Column_List"/>
        from lecture
    </select>

    <select id="findById" resultMap="lectureResultMap">
        select
        <include refid="Base_Column_List"/>
        from lecture
        where id=#{id}
    </select>

</mapper>