<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junyi.com.junyi.one2many.dao.StudentDao" >

    <resultMap id="studentResultMap" type="com.junyi.com.junyi.one2many.entity.Student">
        <id  property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="money" column="money"/>
        <association property="passCard" column="id"
                     select="com.junyi.com.junyi.one2many.dao.PassCardDao.findByStudentId"/>
        <collection property="studentLectureRefList" column="id"
                    select="com.junyi.com.junyi.one2many.dao.StudentLectureRefDao.findStudentLectureByStuId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, age, money
    </sql>


    <select id="findAll" resultMap="studentResultMap">
        select
        <include refid="Base_Column_List"/>
        from student
    </select>

    <select id="findById" resultMap="studentResultMap">
        select
        <include refid="Base_Column_List"/>
        from student where id=#{id}
    </select>

</mapper>