<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.junyi.com.junyi.one2many.dao.PassCardDao">
    <resultMap id="passCardMap" type="com.junyi.com.junyi.one2many.entity.PassCard">
        <id property="id" column="id"/>
        <result property="description" column="description"/>
    </resultMap>

    <sql id="Base_Column">
        id, description
    </sql>

    <select id="findByStudentId" resultMap="passCardMap">
        SELECT
        <include refid="Base_Column"/>
        FROM pass_card WHERE student_id = #{id}
    </select>
</mapper>